<section id="index">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center mt-2">
        <h5>Welcome to First ExpressJS HBS</h5>
      </div>
      <div class="col-12 d-flex justify-content-center mt-2">
        <a class="btn btn-md btn-primary" style="margin: 2px 2px 2px 2px" href="/burger">Go To Burger</a>
        <a class="btn btn-md btn-success" style="margin: 2px 2px 2px 2px" href="/login">Go To Login</a>
      </div>
    </div>
  </div>
</section>