<footer class="footer pt-0">
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-footer justify-content-center justify-content-lg-end">
        <li class="nav-item">
          <a href="" class="nav-link">
            Application Engineering Support
          </a>
        </li>
        <li class="nav-item">
          <a
            href="https://github.com/haritsf/ssl-watchlist/blob/master/LICENSE.md"
            class="nav-link"
            target="_blank"
          >
            MIT License
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>