<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header align-items-center">
            <a class="navbar-brand" href="javascript:void(0)">
                <img src="/aragon/img/brand/blue.png" class="navbar-brand-img" alt="..." />
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <h6 class="navbar-heading p-0 text-muted">
                    <span class="docs-normal">General</span>
                </h6>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {{#if isSummary}} {{stateAct}} {{/if}}" href="./summary">
                            <i class="ni ni-tv-2"></i>
                            <span class="nav-link-text">Summary</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./watchlist">
                            <i class="ni ni-credit-card"></i>
                            <span class="nav-link-text">Watchlist</span>
                        </a>
                    </li>
                    {{!-- <li class="nav-item">
                        <a class="nav-link {{#if isIcon}} {{stateAct}} {{/if}}" href="./icon">
                            <i class="ni ni-planet text-orange"></i>
                            <span class="nav-link-text">Icons</span>
                        </a>
                    </li> --}}
                </ul>
                <!-- Divider -->
                <hr class="my-3" />
                <!-- Heading -->
                <h6 class="navbar-heading p-0 text-muted">
                    <span class="docs-normal">Components</span>
                </h6>
                <!-- Navigation -->
                <ul class="navbar-nav mb-md-3">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="ni ni-spaceship"></i>
                            <span class="nav-link-text">Application</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="ni ni-palette"></i>
                            <span class="nav-link-text">Database</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./function">
                            <i class="ni ni-ui-04"></i>
                            <span class="nav-link-text">Function Unit</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>